#largeMap {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  // border: 1px solid black;
}

.highlighted-shape {
  // stroke: rgb(255, 255, 255);
  fill-opacity: 1;
}

.active-shape {
  color: #E1F550;
  fill-opacity: 1;
}

p.popup-precinct-name {
  margin: 5px 10px 0 10px;
  padding: 0;
  font-size: 1.5em;
  white-space: nowrap;
}

p.popup-precinct-total {
  margin: 0 10px;
  padding: 0;
  font-size: 1.25em;
  white-space: nowrap;
}

.leaflet-popup-content {
  width: auto;
}

#btnClaimStat {
  z-index: 1000;
  position: absolute;
  left: 11px;
  top: 70px;
}

#btnClaimStatAmounts {
  z-index: 1000;
  position: absolute;
  left: 11px;
  top: 110px;
}

#detailViews {
  z-index: 1001;
  position: absolute;
  top: 150px;
  left: 0;
  margin: 0 0 0 11px;
}


.yearSelector {
  position: absolute;
  z-index: 1001;
  top: 30px;
  background-color: #fff;
}
