.claim-display {
  padding: 10px 20px;
  // height: 320px;
  border: 1px solid black;
  border-radius: 5px;
  color: #000;
  background-color: rgba(0, 255, 0, 0.75);
  display: none;

  p {
    margin: 0;
    text-transform: capitalize;
  }

  .close {
    cursor: pointer;
    margin-right: -15px;
    margin-top: -5px;
  }
}
